<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'application.js' | asset_url | script_tag }}
  </head>
  <body>



    {% section 'announcementBar' %}

    {% section 'header' %}

    <main role="main" class="min-h-[calc(100vh-265px)]">
      {% if request.path == '/policies/refund-policy' %}
        {% section 'policy' %}
      {% elsif request.path contains '/policies/privacy-policy' %}
        {% section 'policy' %}
      {% elsif request.path contains '/policies/terms-of-service' %}
        {% section 'policy' %}
      {% elsif request.path contains '/policies/shipping-policy' %}
        {% section 'policy' %}
      {% elsif request.path contains '/policies/subscription-policy' %}
        {% section 'policy' %}
      {% else %}
        {{ content_for_layout }}
      {% endif %}
    </main>

    {% section 'footer' %}

  </body>
</html>