<section class="flex items-center flex-col w-full">
  <h1 class="text-[34px] font-light my-4">{{ blog.title }}</h1>
  <section class="flex justify-center w-full flex-wrap">
    {% for article in blog.articles %}

      <article class="max-w-[100%] md:max-w-[45%] lg:max-w-[22%] mx-3 mb-4">
        <a href="{{ article.url  }}">
          {% if article.image %}
            <img class="object-cover h-[270px] w-full" src="{{ article.image | img_url: 'master' }}" />
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'w-full' }}
          {% endif %}
          <h2 class="font-bold uppercase text-[14px] my-2">{{ article.title }}</h2>

          {% if article.excerpt.size < 0 %}
            {% else %}
              <p class="font-normal text-[13px]">{{ article.content | strip_html | truncatewords: 35 }}</p>
          {% endif %}
        </a>
      </article>



    {% endfor %}
  </section>

</section>

{% schema %}
  {
    "name": "Blog"
  }
{% endschema %}