<section class="flex justify-between">

  <div class="w-1/2 h-ful flex items-center flex-col justify-center p-20">
    <img class=" m-4 pb-10" src=" {{ product.images[0] | img_url: '600x850' }} "/>


  </div>

  <section class=" flex flex-col justify-center p-10 w-1/2">
    <h1 class="text-[24px] font-bold">{{ product.title | upcase }}</h1>
    <p>{{product.price | money}}</p>

    <section name="id" class="flex my-4">
      {% for variant in product.variants %}

        <label class=" cursor-pointer border-2 text-[12px] w-[45px] h-[45px] flex items-center justify-center mr-2" value="{{ variant.id }}">
          {{ variant.title }}
        </label>

      {% endfor %}
    </section>

    <section class="max-w-[450px] cursor-pointer border bg-black flex justify-center items-center py-3 mb-2 ">
      <a class="text-white uppercase font-bold">Add to cart</a>
    </section>

    <div class="mt-4">
      <p class="text-[12px]">{{ product.description }}</p>
    </div>
  </section>

</section>



{% schema %}
  {
    "name": "product",
    "tag": "section",
    "templates": ["index", "product", "page"]

  }
{% endschema %}